# Quora
# Quora Remove Ads

# 去除回答列表中展开内容的广告
^https:\/\/www\.quora\.com\/graphql\/gql_para_POST\?q=AnswerExpandAdLoaderQuery url reject
# 去除首页广告
^https:\/\/www\.quora\.com\/(graphql\/gql_para_POST\?q=MultifeedQuery)?$ url script-response-body https://gist.githubusercontent.com/blackmatrix7/7775186471b181e5ad472156ca3c206f/raw/quora.min.js
# 去除回答内容的广告
^https:\/\/www\.quora\.com\/graphql\/gql_para_POST\?q=AnswerPageFooterLoaderQuery url script-response-body https://gist.githubusercontent.com/blackmatrix7/7775186471b181e5ad472156ca3c206f/raw/quora.min.js
# 去除回答列表的广告
^https:\/\/www\.quora\.com\/graphql\/gql_para_POST\?q=(QuestionAnswerPagedListQuery|QuestionPageLoadableBodyQuery) url script-response-body https://gist.githubusercontent.com/blackmatrix7/7775186471b181e5ad472156ca3c206f/raw/quora.min.js
# 去除从回答底部进入的回答列表的广告
^https:\/\/www\.quora.com\/.*-.* url script-response-body https://gist.githubusercontent.com/blackmatrix7/7775186471b181e5ad472156ca3c206f/raw/quora.min.js
# 去除文章底部的广告
^https:\/\/www\.quora\.com\/graphql\/gql_para_POST\?q=PostPageFooterLoaderQuery url script-response-body https://gist.githubusercontent.com/blackmatrix7/7775186471b181e5ad472156ca3c206f/raw/quora.min.js

hostname = www.quora.com